/* Estilos para la sección ¿Quiénes somos? */
.about-section {
    display: flex;
    align-items: center;
    padding: 80px 0;
    gap: 50px;
}

.about-section .general-text {
    flex: 1;
}

.about-section .general-img {
    flex: 1;
}

.about-section .general-img img {
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

/* Estilos para la sección de filosofía */
.philosophy-section {
    padding: 80px 0;
    background-color: #f8f8f8;
    text-align: center;
}

.philosophy-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.philosophy-content .philosophy-item {
    margin-bottom: 30px;
}

.philosophy-content .philosophy-item h3 {
    font-size: 28px;
    color: #323337;
    margin-bottom: 15px;
}

.philosophy-content .philosophy-item .fas {
    color: #ce967b;
    margin-right: 10px;
}

/* Estilos para la sección del equipo */
.team-section {
    padding: 80px 0;
    text-align: center;
}

.team-section h2 {
    font-size: 55px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.team-group {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.team-member {
    flex: 1 1 300px;
    max-width: 300px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0; /* Inicialmente invisible para la animación */
    animation: fadeIn 1s forwards; /* Animación */
}

/* Animación para cada miembro del equipo con un retraso */
.team-member:nth-child(1) {
    animation-delay: 0.2s;
}
.team-member:nth-child(2) {
    animation-delay: 0.4s;
}
.team-member:nth-child(3) {
    animation-delay: 0.6s;
}


.team-member:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.team-member h3 {
    font-size: 22px;
    color: #323337;
    margin-bottom: 10px;
}

.team-member p {
    font-size: 16px;
    color: #414247;
}

/* Definición de la animación de Fade-In */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
    }
}